In [1]:
import pandas as pd
import numpy as np
import patsy as pt
%pylab inline
from sklearn.linear_model import LogisticRegression 
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import itertools

Populating the interactive namespace from numpy and matplotlib

In [9]:
#Import the data :
df = pd.read_csv('~/Desktop/Churn_Modelling.csv',error_bad_lines=False)
print(len(df))
df.columns
df.iloc[:5]

10000

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
formula = 'Exited ~ 0 + EstimatedSalary+CreditScore+ Age+HasCrCard+IsActiveMember + Tenure+ Balance + NumOfProducts + C(Geography) + C(Gender)'

In [11]:
Y, X = pt.dmatrices(formula, df, return_type='dataframe')
y = Y['Exited'].values

In [12]:
#Split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [13]:
import statsmodels.api as sm
from scipy import stats
model = LogisticRegression()
result = model.fit(X_train, y_train)

#print result.f_pvalue

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [14]:
model.fit(X_train / np.std(X_train, 0), y_train)
print(model.coef_)

[[-1.10763854 -0.63704378 -0.92369372 -0.28897252  0.00861986 -0.04974978
   0.73656891 -0.03474763 -0.55864235 -0.00387036  0.18532609 -0.04924103]]

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [15]:
from sklearn import metrics

prediction_train = model.predict(X_train)
print(metrics.accuracy_score(y_train, prediction_train))

0.20342857142857143

In [16]:
prediction = model.predict(X_test)
print(metrics.accuracy_score(y_test, prediction))

0.211

In [17]:
confusion_matrix(y_test, prediction, labels=None, sample_weight=None)

array([[   6, 2367],
       [   0,  627]])

In [18]:
weights = pd.Series(model.coef_[0],
                 index=X.columns.values)
weights.sort_values()

C(Geography)[France]    -1.107639
C(Geography)[Spain]     -0.923694
C(Geography)[Germany]   -0.637044
IsActiveMember          -0.558642
C(Gender)[T.Male]       -0.288973
CreditScore             -0.049750
NumOfProducts           -0.049241
HasCrCard               -0.034748
Tenure                  -0.003870
EstimatedSalary          0.008620
Balance                  0.185326
Age                      0.736569
dtype: float64